In [1]:
import pandas as pd
from glob import glob

In [2]:
file_name = glob("data/*")[0]
file_name

'data/도로교통공단_월별 주야별 교통사고(2021).csv'

In [3]:
pd.read_csv(file_name, encoding='cp949')

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   8821   107  2421   9631     707
1     1  야   6088    90  1627   6510     427
2     2  주   8756   107  2468   9681     670
3     2  야   5755    96  1572   6286     483
4     3  주  10274   128  2787  11163     820
5     3  야   6326    81  1775   6859     524
6     4  주  11032   119  3105  11935     819
7     4  야   6371    93  1878   6887     518
8     5  주  11025   154  3010  12132     922
9     5  야   6353   101  1762   6779     520
10    6  주  11310   124  3286  12244     865
11    6  야   6265   103  1733   6593     569
12    7  주  11408   139  3132  12435     892
13    7  야   6586   115  1829   7024     558
14    8  주  10407   129  2878  11541     854
15    8  야   6011   118  1638   6365     506
16    9  주  10869   131  2959  11885     856
17    9  야   6143   115  1747   6299     506
18   10  주  11229   156  3064  12129     882
19   10  야   7071   156  1935   7732     565
20   11  주  11223   163  3124  11890     922
21   11  야   6873   122  1884   7284     602
22   12  주  10318   149  2658  10936     916
23   12  야   6616   120  1633   7063     517

### 여러 파일을 한번에 로드하는 방법

In [4]:
file_csv = glob("data/*.csv")
file_csv

['data/도로교통공단_월별 주야별 교통사고(2021).csv',
 'data/도로교통공단_월별 주야별 교통사고(2020).csv',
 'data/도로교통공단_월별 주야별 교통사고(2019).csv',
 'data/도로교통공단_월별 주야별 교통사고 통계_20231231.csv',
 'data/도로교통공단_월별 주야별 교통사고(2022).csv',
 'data/도로교통공단_월별 주야별 교통사고(2018).csv']

In [5]:
file_list = []
for file_csv_name in file_csv:
    print(file_csv_name)
    file_list.append(pd.read_csv(file_csv_name, encoding='cp949'))

data/도로교통공단_월별 주야별 교통사고(2021).csv
data/도로교통공단_월별 주야별 교통사고(2020).csv
data/도로교통공단_월별 주야별 교통사고(2019).csv
data/도로교통공단_월별 주야별 교통사고 통계_20231231.csv
data/도로교통공단_월별 주야별 교통사고(2022).csv
data/도로교통공단_월별 주야별 교통사고(2018).csv

In [6]:
len(file_list)

6

In [7]:
df = pd.concat(file_list)
df.shape

(144, 8)

In [8]:
df.head()

   발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수   월
0  1.0  주   8821   107  2421   9631     707 NaN
1  1.0  야   6088    90  1627   6510     427 NaN
2  2.0  주   8756   107  2468   9681     670 NaN
3  2.0  야   5755    96  1572   6286     483 NaN
4  3.0  주  10274   128  2787  11163     820 NaN

In [9]:
df.tail()

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수     월
19  NaN  주  11638   204  3999  11888    1099  10.0
20  NaN  야   7735   135  2622   8006     722  11.0
21  NaN  주  11294   163  3893  11662    1095  11.0
22  NaN  야   7574   159  2405   7905     799  12.0
23  NaN  주  10436   164  3278  11113     963  12.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 144 entries, 0 to 23
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   발생월     96 non-null     float64
 1   주야      144 non-null    object
 2   사고건수    144 non-null    int64
 3   사망자수    144 non-null    int64
 4   중상자수    144 non-null    int64
 5   경상자수    144 non-null    int64
 6   부상신고자수  144 non-null    int64
 7   월       48 non-null     float64
dtypes: float64(2), int64(5), object(1)
memory usage: 10.1+ KB